<div class="main-nav__container">
  <div class="site-container">
    <nav class="main-nav">
      <a href="/" class="main-nav__item">Home</a>
      <a href="/skills" class="main-nav__item">Skills</a>
      <a href="/snippets" class="main-nav__item">Snippets</a>
      <a href="/resume" class="main-nav__item">Résumé</a>
      <a href="/Eric_Constantinides_resume.pdf" target="_blank" class="main-nav__item" title="Literally the résumé page saved as a PDF">PDF</a>
    </nav>
  </div>
</div>