<!DOCTYPE HTML>
<html>
<head><% include partials/head %></head>
<body class="<%= bodyClass %>">
<% include partials/header %>

<section class="site-section portfolio__section">
  <div class="site-container">
    <% include partials/title %>
    <section class="portfolio__group">
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image" style="background-image: url(/images/snippet--pacnav.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Pac-Nav</h3>
            <p>Pac-Nav is a responsive navigation pattern that progressively hides nav items when the viewport gets smaller.</p>
            <p><a href="https://ericconstantinides.github.io/pac-nav/"><strong>Demo on GitHub</strong></a>
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image" style="background-image: url(/images/snippet--okta-omm.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Scrolling Story</h3>
            <p>An 11-page animated story to help visually explain a product.</p>
            <p><a href="https://ericconstantinides.github.io/scrolling-story/"><strong>Demo on GitHub</strong></a>
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image" style="background-image: url(/images/snippet--resources.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Resources</h3>
            <p>A fully responsive, javascript enhanced interactive resource center.</p>
<!--            <h4>See it:</h4>
            <p><a href="https://www.okta.com/resources">Okta's Resources</a>
            <br><a href="http://www.purestorage.com/resources">Pure Storage's Resources</a></p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image" style="background-image: url(/images/snippet--okta-home.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>SVG Animations</h3>
            <p>These very simple animations quickly tell a story without getting in your way</p>
<!--            <h4>See it:</h4>
            <p><a href="https://www.okta.com">Okta's Homepage</a>
            <br><a href="https://www.okta.com/product/identity-management/#sso">Okta's Single-Sign-On</a> (scroll to initiate animation)
            <br><a href="https://www.okta.com/solutions/">Okta's Solutions</a> (multiple animations)
            <br><a href="https://www.adallom.com/what-we-do">Adallom's What We Do</a></p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-left-center" style="background-image: url(/images/snippet--twinkle--adallom.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Twinkle</h3>
            <p>Twinkle displays partner logos in a classy way by having the logos subtley fade in and out randomly. Although simple-sounding, achieving fluid on-off states required 4 different display states (on-deck, on, off, remove) for a logo</p>
            <p><a href="https://ericconstantinides.github.io/twinkle/"><strong>Demo on GitHub</strong></a>
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image" style="background-image: url(/images/snippet--responsive-tear.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Responsive Tear</h3>
            <p>Responsive tear slides the page open to reveal content without having to open up a new page or modal.</p>
<!--            <h4>See it:</h4>
            <p><a href="http://www.alteryx.com/partner-type/technology-partners">Alteryx's Partners</a> -->
<!--            <br><a href="https://www.okta.com/partners/okta-solution-providers.html">Okta's Partners</a> (towards the bottom)</p> -->
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
<section class="site-section portfolio__section">
  <div class="site-container">
    <header class="header portfolio__header">
      <h2>CSS / SCSS Fun!</h2>
      <p class="portfolio__intro">I geek out on CSS and SCSS</p>
    </header>
    <section class="portfolio__group">
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-left-center" style="background-image: url(/images/snippet--responsive-mixin.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Responsive SASS Mixin</h3>
            <p>Computes the "vw" value from an em or px value and automatically resizes CSS properties depending on its viewport size</p>
            <!-- <p>See it on this page (resize the page and notice all the elements resizing relative to the viewport).</p> -->
<!--            <br>Here's the source in this site's <a href="/src/styles/_mixins.scss">"_mixins.scss"</a> partial.</p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-left-center" style="background-image: url(/images/snippet--full-width.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Perfect Full-Width inside container CSS</h3>
            <p>Calculates the site width based on the site container to "break out" of its container without any javascript!
<!--            <br>Here's the source in this site's <a href="/src/styles/_mixins.scss">"_mixins.scss"</a> partial.</p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-left-center" style="background-image: url(/images/snippet--css--utilities.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>CSS Utilities</h3>
            <p>Utilities are tiny CSS classes to semantically markup an element with little fear of colliding with other CSS classes</p>
<!--            <h4>See it:</h4>
            <p>This site's <a href="/src/styles/_utilities.scss">"_utilities.scss"</a> partial.</p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-center" style="background-image: url(/images/snippet--css-blur.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Overlay blur</h3>
            <p>Reuse of an image to create a faux blur. Sounds simple, but fun to make possible.</p>
<!--            <h4>See it:</h4>
            <p><a href="http://www.purestorage.com/products/purity">Pure Storage's Purity page</a> (top of the page).</p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-center" style="background-image: url(/images/snippet--responsive-absolute-positioning.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Responsive Absolute Positioning</h3>
            <p>Creating absolutely positioned elements on a responsive site can be hard. But by using some SASS mixins, xy coordinates can be changed to percentages and the whole diagram becomes flexible and responsive.</p>
            <!-- <h4>See it:</h4>
            <p><a href="http://www.purestorage.com/products/purity">Pure Storage's Purity page</a> (just over halfway down in section "Built-In Disaster Recovery and Protection").</p> -->
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
<section class="site-section portfolio__section">
  <div class="site-container">
    <header class="header portfolio__header">
      <h2>Drupal CMS</h2>
      <p class="portfolio__intro">As much as I love the front-end, implementing Drupal CMS is where I learned my web development chops.</p>
    </header>
    <section class="portfolio__group">
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__copy portfolio-item__copy--full">
            <h3>Relational Databases</h3>
            <p>A good CMS implementation needs bi-directional content relationships. My Drupal implemenations utilize content types with multiple "view modes" to achieve "content-aware" fuctionality.</p>
<!--            <h4>See it:</h4>
            <p><a href="http://www.alteryx.com/blog">Alteryx's blog</a> (link to resources)
            <br><a href="http://www.pentaho.com/customers">Pentaho's Customers</a> (link to resources, press releases, etc)</p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__copy portfolio-item__copy--full">
            <h3>E-Commerce</h3>
            <p>Paolo Shoes was built using UberCart and Annachich Jewelry was built using Drupal Commerce.</p>
<!--            <h4>See it:</h4>
            <p><a href="http://www.paoloshoes.com/">Paolo Shoes</a>
            <br><a href="https://www.annachich.com/">Annachich Jewelry</a></p> -->
          </div>
        </div>
      </article>
      <article class="portfolio-item">
        <div class="portfolio-item__inner">
          <div class="portfolio-item__image u-bgp-center" style="background-image: url(/images/snippet--drupal-multisite.png)">
          </div>
          <div class="portfolio-item__copy">
            <h3>Drupal Multisite</h3>
            <p>Share the codebase, share the fun!</p>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>

<% include partials/footer %>
</body>